@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root {
    --border : 2px solid white;
}
* {
    padding: 0px;
    margin: 0px;
    font-size:13px;
    font-family: "Space Grotesk";
}
main {
    display: flex;
    height: 100vh;
}

.style {
    position: relative;
    min-width: 40px;
    background-image: url("/images/bg-main-desktop.png");
}
.style_form {
    flex: 72%;
    display: grid;
    place-content: center;
}
label {
    line-height: 30px;
}
form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    height: 30px;
    outline:2px solid rgb(46, 13, 208);
    border:none;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
}
#card_btn{
    height: 40px;
    color: white;
    background-color: rgb(2, 2, 20);
    border-radius: 5px;
    cursor: pointer;
}
.card_time_wraper {
    display: flex;
    justify-content: space-between;
}
.card_m_y {
    width: 40%;
    display: flex;
    justify-content:left;
}
.card_m_y>input:nth-child(1){
    width: 30%;
    margin-right: 20px;
}
.card_labelFor_time {
    display: flex;
    justify-content: space-between;
}
.card_labelFor_time>label:nth-child(1) {
    width: 38%;
}
.card_labelFor_time>label:nth-child(2) {
    width: 50%;
}
.card_m_y>input:nth-child(2){
    width: 30%;
}
.card_cvv {
    width: 50%;
    display: flex;
    justify-content: right;
}
.card_cvv>input {
    width: 98%;
}

#bg_card_front_id {
    position:absolute;
    height: 200px;
    transform: translate(50%,70%);
}

#bg_card_front_id>svg {
    position: absolute;
    top: 16px;
    left: 16px;
}
#bg_card_front_id>p {
    position: absolute;
    font-size: 21px;
    color: white;
    bottom: 54px;
    left: 24px;
    letter-spacing:2.6px;
}

.bg_card_fornt {
    height: inherit;
}

.bg_card_back {
    height: inherit;
}

#bg_card_front_name>* {
    position: absolute;
    font-size: 11px;
    bottom: 18px;
    color: white;
    letter-spacing: 1.4px;
}

#bg_card_front_name>p:nth-child(1) {
    left: 24px;
}

#bg_card_front_name>p:nth-child(2) {
    right: 30px;
}

#bg_card_back_id {
    position:relative;
    height: 200px;
    transform: translate(65%,186%);
}

#bg_card_back_id>p{
    position: absolute;
    color: white;
    top: 90px;
    right: 80px;
    letter-spacing: 1.2px;
}
.bg_card_back {
    position: relative;
}

.card_m_y_error,.card_cvv_error {
    color: red;
}
.card_name_error {
    color: red;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }